@import 'tailwindcss';
@import './prism.css' layer(components);

@plugin '@tailwindcss/typography';
@config '../../typography.ts';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--font-family-sans:
		var(--font-lexend-deca), ui-sans-serif, system-ui, sans-serif;
	--default-font-family: var(--font-family-sans);

	--color-primary-50: var(--color-violet-50);
	--color-primary-100: var(--color-violet-100);
	--color-primary-200: var(--color-violet-200);
	--color-primary-300: var(--color-violet-300);
	--color-primary-400: var(--color-violet-400);
	--color-primary-500: var(--color-violet-500);
	--color-primary-600: var(--color-violet-600);
	--color-primary-700: var(--color-violet-700);
	--color-primary-800: var(--color-violet-800);
	--color-primary-900: var(--color-violet-900);
	--color-primary-950: var(--color-violet-950);

	--text-xs: 0.8125rem;
	--text-xs--line-height: 1.5rem;
	--text-sm: 0.875rem;
	--text-sm--line-height: 1.5rem;
	--text-base: 1rem;
	--text-base--line-height: 1.75rem;
	--text-lg: 1.125rem;
	--text-lg--line-height: 1.75rem;
	--text-xl: 1.25rem;
	--text-xl--line-height: 2rem;
	--text-2xl: 1.5rem;
	--text-2xl--line-height: 2rem;
	--text-3xl: 1.875rem;
	--text-3xl--line-height: 2.25rem;
	--text-4xl: 2rem;
	--text-4xl--line-height: 2.5rem;
	--text-5xl: 3rem;
	--text-5xl--line-height: 3.5rem;
	--text-6xl: 3.75rem;
	--text-6xl--line-height: 1;
	--text-7xl: 4.5rem;
	--text-7xl--line-height: 1;
	--text-8xl: 6rem;
	--text-8xl--line-height: 1;
	--text-9xl: 8rem;
	--text-9xl--line-height: 1;
}
